[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "mINI"]
	path = mINI
	url = git@github.com:metayeti/mINI.git
